
.back-front-actions{
    float:left;
}
.back-front-actions button {
    padding: 2px;
    background-color:rgb(255, 255, 255);
    font-size: 23px;
    font-weight:bold ;
    color: black;
    
    
}

.back-front-actions button:hover {
    padding: 2px;
    
    background-color:rgb(255, 255, 255);
    font-size: 23px;
    font-weight:bold ;
    color: black;
}

/* ------------- new concat -------------*/

.active-div{
    /*
  border: 1px solid #e8ecf1;
  box-shadow: 0 4px 15px rgb(208, 225, 241);
  background-color: rgb(245, 250, 255,0.4);*/
  border: 1px solid #dadcdd;
  background-color: white;
  margin: 15px;
  padding: 5px;
  text-align: center;
  float: center;
  border-radius: 15px;
}

.disactive-div{
  margin: 15px;
  padding: 5px;
  text-align: center;
  float: center;
  background-color: rgb(235, 235, 235);
  border-radius: 15px;
}

